.container{
  margin-top: 50px;
}

.welcome-note {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(2, 3, 4, 0.50);
  border-radius: 5px;
  width: 1610px;
  height: 600px;
  margin-bottom: 20px;
  display: flex;
}

.welcome-note div#message {
  font-size: 20px;
  padding: 40px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.welcome-note div#message p {
  padding-bottom: 8px;
}

.welcome-note img {
  height: 600px;
  border-radius: 5px 0px 0px 5px;
}

/* button.login-btn.landing {
  height: 40px;
  width: 468px;
  margin-left: -0.2px;
  padding-top: 2px;
  padding-bottom: 3px;
  text-align: center;
  background: #FFA500;
  border: 2px solid #FFA500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  color: black;
} 
*/
/* 
button:hover {
  background-color: #FFA500;
} 
*/

.call-to-action{
  font-size: 50px;
  height: 70px;
  width: 468px;
  margin-left: -0.2px;
  padding-top: 2px;
  padding-bottom: 3px;
  text-align: center;
  background: #FFA500;
  border: 2px solid #FFA500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 6px;
  color: black;
  cursor: pointer;
}

.call-to-action:hover {
  animation:  shake 0.8s  ;
}

@keyframes shake{
  0%{
    transform: translateX(0)
  }
  25%{
    transform: translateX(25px);
  }
    
  50%{
    transform: translateX(-25px);
  }
  100%{
    transform: translateX(0px);
  }
}
