div#program-review-page{
    width: 1200px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15),0 0 20px rgba(0, 0, 0, 0.15),0 0 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(80px);
}


div#program-review-page button{
    font-size: 15px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    margin: 1px;
    margin-bottom: 5px;
}

div#program-review-page button:hover{
    font-size: 16px;
    height: 32px;
    width: 210px;
    margin: 0px;
}



.session {
    border: 1px black solid;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px;
}

.exercises {
    border: 1px black solid;
    padding: 20px;
    padding-top: 2px;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.exercise {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    align-content: space-around;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 5px;
    grid-gap: 15px 15px;
}

.set {
    border: 1px black solid;
    width: fit-content;
    padding: 20px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    grid-gap: 15px 15px;
}

div#empty-space-program-review-page{
    padding-bottom: 300px;
}

div button#approval-btn{
    background-color: olivedrab;
}

div#button-div{
    display: flex;
    justify-content: space-between;
}