.your-program-performance {
    margin-top: 42px;
    width: fit-content;
    font-size: 22px;
    box-shadow: 0px 4px 4px rgba(2, 3, 4, 0.50);
    background-color: whitesmoke;
    padding: 10px;
    height: fit-content;
    border-radius: 5px;
    /* border: 1px black solid; */
}

.your-program-performance div{
    display: flex;
}

.your-program-performance div h2{
    margin-left: 6px;
    position: relative;
}

.your-program-performance div h4{
    margin-left: 6px;
    position: relative;
    bottom: -7px;
}

.your-program-performance table{
    width: fit-content;
}

#user-top-program-title {
    width: 250px;
    padding-left: 3px;
    text-align: left;
}
#table-view{
    width: 100px;
}
