.your-program-performance {
    padding: 10px;
    width: 27vw;
    border: 1px black solid;
}

th {
    text-align: left;
}

#table-title {
    width: 30px;
}

#table-users {
    width: 10px;
}

#table-edit {
    width: 6vw;
}