.creation-page {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.create-new-program {
    padding: 20px;
    width: 50vw;
    border: 1px black solid;
}

.your-program-performance {
    padding: 20px;
    width: 25vw;
    border: 1px black solid;
}

th {
    text-align: left;
}

#table-title {
    width: 13vw;
}

#table-users {
    width: 6vw;
}

#table-edit {
    width: 6vw;
}