.creation-page {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.create-new-program {
    padding: 10px;
    width: 62vw;
    border: 1px black solid;
    height: 60vh;
}

.your-program-performance {
    padding: 10px;
    width: 27vw;
    border: 1px black solid;
}

.session-form {
    border: 1px blueviolet solid;
}

.exercise-form {
    border: 1px black solid;
}