.creation-page {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.create-new-program {
    padding: 10px;
    width: 75vw;
    border: 1px black solid;
    height: fit-content;
}

.session-form {
    border: 1px blueviolet solid;
}

.exercise-form {
    border: 1px black solid;
}