div#admin-page {
    width: 1000px;
    font-size: 22px;
    box-shadow: 0px 4px 4px rgba(2, 3, 4, 0.50);
    background-color: whitesmoke;
    padding: 20px;
    
    height: fit-content;
    border-radius: 5px;
    /* border: 1px black solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#admin-title{
    padding-top: 10px;
    text-align: left;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

div#admin-page table {
    border-collapse: collapse;
    font-size: 20px;
    width: fit-content;
    padding: 20px;
}

th.table-title-col {
    font-weight: bolder;
    font-size: 23px;
    width: 500px;
}

th.table-genre-col {
    width: 150px;
}

th.table-author-col {
    width: 150px;
}

.table-view-col {
    width: 110px;
}

.table-approval-col {
    width: 110px;
}

th {
    font-size: 23px;
    border-bottom: 2px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
}
tr {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.table-title-col {
    padding-left: 10px;
}

#table-btn {
    background-color: orange;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

#table-btn:hover {
    border: 1px solid orange;
    background: none;
    color: orange;
}